$marigold: #ffd36d;

.row.deck-tile {
  padding: 1em;
  margin-bottom: 1em;
  background: #e7e7e7;
  border: 1.2px solid #222222;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.deck-tile h2 {
  font-size: 1.4rem;
  font-family: 'Raleway';
  color: #222222;
  cursor: pointer;
}

.creator a {
  color: #AC0057;
}

.card-section {
  width: 100%;
  background: #ffffff;
  max-height: 15.5em;
  overflow: scroll;
  border-radius: 2px;

  transition: max-height 0.5s;
}

.card-section.hidden {
  max-height: 0;
}

.card-section table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $marigold;
}

.card-section th {
  background: scale-color($marigold, $lightness: 35%);
}

.card-section th.side1 {
  text-align: right;
}

.card-tile {
  background: #ffffff;
}

.card-tile .side1 {
  text-align: right;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.card-tile .side2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
