$card-width: 40rem;

.card-container {
  max-width: $card-width;
  margin-bottom: 1em;
}

.practice-card {
  width: 100%;
  padding-top: 60%;

  position: relative;
  background: white;
  border: 1.5px solid #b8a;
  border-radius: 16px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.practice-card .text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #666;
  font-size: 1.5em;
}
